@import "./theme/index.less";

.App {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;

  .aside {
    width: 20%;

    .item {
      &.active {
        a {
          color: @primary-color;
        }
      }
    }
  }

  .main {
    flex: 1;

    h1 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 16px;
    }
  }
}